<%- include('include/_header') %>

  <link rel="stylesheet" href="/css/adminorder.css">
  <style>
    .page-link {
      cursor: pointer !important;
    }

    .pagination {
      display: inline-flex;
      list-style: none;
      padding: 0;
    }

    .page-item {
      margin: 0 0.25rem;
    }

    .page-link {
      padding: 0.5rem 1rem;
      border: 1px solid #ccc;
      border-radius: 0.25rem;
      text-decoration: none;
      color: #333;
      transition: background-color 0.3s;
    }

    .page-link:hover {
      background-color: #f0f0f0;
    }

    .active .page-link {
      background-color: #007bff;
      color: #fff;
    }
  </style>
  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Orders List</h2>
      </div>
    </div>
    <table class="table mb-4">
      <thead class="card-header">
        <tr>
          <th>Product</th>
          <th>User Details</th>
          <th>Order Details</th>
          <th>Total Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="card-body">
        <% for( let i=0; i < orders.length; i++ ) { %>
          <tr class="produts p-3">
            <td>
              <div class="productImg d-flex align-items-center justify-content-between">
                <div class="proImg d-flex gap-3 align-items-center">
                  <div>
                    <p>
                      <%= i + 1 %>
                    </p>
                  </div>
                  <div>
                    <img src="<%= orders[i].orderDetails.pImage %>" alt="No Image Uploaded" />
                  </div>
                  <div class="description d-flex align-items-center">
                    <div>
                      <p class="mb-1 p-0 fs-6 text-capitalize">
                        <%= orders[i].orderDetails.pName.substring(0,10) %>
                      </p>
                      <p class="mb-2 text-capitalize">Product Id : <%=
                          orders[i].orderDetails.productId.toString().split('').slice(18,24).join('') %>
                      </p>
                      <p class="m-0 p-0">Qty: <%= orders[i].orderDetails.quantity %>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="proImg d-flex">
                <div class="description d-flex align-items-center">
                  <div class="userInfo">
                    <p class="mb-1 text-capitalize">
                      <%= orders[i].userDetails.name %>
                    </p>
                    <p class="mb-1 p-0">
                      <%= orders[i].userDetails.email %>
                    </p>
                    <p class="mb-1 text-capitalize">
                      <%= orders[i].userDetails.phoneNumber %>
                    </p>
                    <p class="m-0 p-0">
                      <%= orders[i].orderDetails.address %>
                    </p>
                    <p class="d-none"></p>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="proImg d-flex">
                <div class="description d-flex align-items-center">
                  <div class="userInfo">
                    <p class="mb-1 text-capitalize">
                      Order ID: <%= orders[i]._id.toString().split('').slice(18,24).join('') %>
                    </p>
                    <p class="mb-1 text-capitalize" id="orderStatus_<%= orders[i].orderDetails._id %>">Order Status:
                      <%= orders[i].orderDetails.orderStatus %>
                    </p>
                    <p class="mb-1 p-0">Payment Methode: <%= orders[i].orderDetails.paymentMethod %>
                    </p>
                    <p class="m-0 p-0">Payment Date: <%= new Date(orders[i].orderDetails.orderDate).toLocaleDateString()
                        %>
                    </p>

                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="proImg d-flex">
                <div class="description d-flex align-items-center">
                  <div class="userInfo">
                    <p class="m-0 p-0 fs-6">₹<%= ((orders[i].orderDetails.price))%>
                    </p>
                    <p class="m-0 p-0 d-none"></p>
                  </div>
                </div>
              </div>
            </td>

            <td>
              <% if ((orders[i].orderDetails.orderStatus !=="Delivered" ) ||
                (orders[i].orderDetails.orderStatus==="Cancelled" ) || (orders[i].orderDetails.orderStatus==="Returned"
                )) { %>

                <div class="actions d-flex align-items-center">
                  <div class="d-flex gap-3">


                    <% if ((orders[i].orderDetails.orderStatus==="Delivered" ) ||
                      (orders[i].orderDetails.orderStatus==="Cancelled" ) ) { %>
                      <p class="me-2 <%= (orders[i].orderDetails.orderStatus === 'Cancelled')?'text-danger':'' %>">
                        <%= orders[i].orderDetails.orderStatus %>
                      </p>
                      <% } else if((orders[i].orderDetails.orderStatus==="Returned request" )) { %>
                        <button
                          style="color: white; background-color: rgb(251, 0, 0); width: 120px; height: 30px; border-radius: 9px; border: black;"
                          onclick="returnRequestApproval('<%= orders[i]._id %>','<%= orders[i].orderDetails._id %>')">Return Approve</button>
                        <% } else if((orders[i].orderDetails.orderStatus==="Returned" )) { %>
                          <button
                            style="color: white; background-color: black; width: 100px; height: 30px; border-radius: 9px; border: black;">User
                            Returned</button>

                          <% } else { %>
                            <select name="orderStatus" class="statusfiller"
                              id="filler_<%= orders[i].orderDetails._id %>" class="bg-white border-1 border-black"
                              onchange="changeOrderStatus('<%= orders[i].orderDetails._id %>')">
                              <option value="Ordered" <%=(orders[i].orderDetails.orderStatus==="Ordered" )?"selected":""
                                %>
                                >Ordered</option>
                              <option value="Shipped" <%=(orders[i].orderDetails.orderStatus==="Shipped" )?"selected":""
                                %>
                                >Shipped</option>
                              <option value="Delivered">Delivered</option>
                              <option value="Cancelled">Cancelled</option>
                            </select>
                            <% } %>

                  </div>
                </div>
                <% }else if((orders[i].orderDetails.orderStatus==="Delivered" )) {%>
                  <button
                    style="color: white; background-color: #3bb77e; border-radius: 9px; width: 100px; height: 30px; border: #3bb77e;">Delivered</button>
                  <%} %>
            </td>

          </tr>
          <% } %>
            <% if (orders.length===0) { %>
              <tr>
                <td colspan="5" class="text-center">\(^Д^)/ <br>No Orders.</td>
              </tr>
              <% } %>
      </tbody>
    </table>


    <!-- table-responsive //end -->
    </div>
    <!-- card-body end// -->
    </div>
    <!-- card end// -->

    <nav aria-label="Page navigation" style="justify-content: center;">
      <ul class="pagination">

        <% for(let i=1; i <=totalPages; i++) { %>

          <li class="page-item <%= currentPage === i ? 'active' : '' %>">

            <a class="page-link" href="/adminOrder?page=<%= i %>">
              <%= i %>

            </a>
          </li>
          <% } %>
      </ul>
    </nav>


  </section>

  <script>
    function returnRequestApproval(orderId , singleOrderId) {
      console.log(orderId, "orderId");
      axios.post("/returnAproval", { orderId , singleOrderId })
        .then(response => {
          console.log(response);
          window.location.reload();
          // console.log("123456789");
        }).catch(error => {
          console.log(error);
        })
    }
  </script>

  <script>
    function changeOrderStatus(orderId) {
      const orderStatus = document.querySelector(`#filler_${orderId}`).value;
      axios.post('/updateOrderStatus', { orderId, orderStatus })
        .then(response => {
          const orderStatusElement = document.querySelector(`#orderStatus_${orderId}`);

          if (orderStatusElement) {
            orderStatusElement.textContent = `Order Status: ${orderStatus}`;
            window.location.reload();
          }
        })
        .catch(error => {
          console.error(error);
        });
    }





    const allSideMenu = document.querySelectorAll('#sidebar .side-menu.top li a');

    allSideMenu.forEach(item => {
      const li = item.parentElement;

      item.addEventListener('click', function () {
        allSideMenu.forEach(i => {
          i.parentElement.classList.remove('active');
        })
        li.classList.add('active');
      })
    });

  </script>

  <%- include('include/_footer') %>