<%- include('include/_header') %>


	<link rel="stylesheet" href="/css/adminCoupon.css">

	<section>
		<h1 style="
    margin-top: 20px;
    margin-bottom: 20px;
    color:#292f46;
	margin-left: 135px;
  ">
			DELETED COUPONS
		</h1>
		<div class="manageOptions">
			<a href="/adminCoupon">
				<button>Go Back</button>
			</a>

		</div>

		<div class="table-data justify-content-center">
			<div class="order">
				<% for( let i=0; i < coupons.length; i++ ) { %>
					<div class="produts">
						<div class="productImg d-flex align-items-center justify-content-between">
							<div class="proImg d-flex gap-3 align-items-center">
								<div class="description d-flex align-items-center">
									<div>
										<p class="mb-1 p-0 text-capitalize">Coupon Code: <%= coupons[i].couponCode %>
										</p>
										<p class="mb-1 p-0 text-capitalize">Discount: <%= coupons[i].coupondiscount %>%
										</p>
										<p class="m-0 text-capitalize">Max uses: <%= coupons[i].maxUse %>
										</p>
									</div>
								</div>
							</div>
							<div class="dPrice">
								<p class="mb-1 p-0">Category: <%= coupons[i].category %>
								</p>
								<p class="mb-1 p-0">Use Above: ₹<%= coupons[i].priceLimit %>
								</p>
								<p class="m-0 p-0">Coupon Expiry: <%=
										coupons[i].expiry.toString().split(' ').slice(0, 4).join(' ') %></p>
			</div>
			<div class="actions d-flex align-items-center stop">
									</div>
								</div>
							</div>
							<% } %>
								<% if (coupons.length===0) { %>
									<div class="text-center">\(^Д^)/ <br>No Coupon.</div>
									<% } %>
					</div>
				</div>
				<% if (coupons.length !==0) { %>
					<div class="row mb-4">
						<div class="col-12">
							<div class="text-center pagenationButton">
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center">
										<li class="page-item">
											<a class="page-link"
												href="/adminCoupon?page=<%= (currentPage === 1 || !currentPage)?1:(currentPage - 1) %>"
												aria-label="Previous">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										<% for( let i=0; i < (Math.ceil(totalCoupons / 10)); i++ ) { %>
											<li class="page-item"><a class="page-link"
													href="/adminCoupon?page=<%= (i + 1) %>">
													<%= (i + 1) %>
												</a></li>
											<% } %>
												<li class="page-item">
													<a class="page-link"
														href="/adminCoupon?page=<%= (((Math.ceil(totalCoupons / 10)) === currentPage) || (Math.ceil(totalCoupons / 10)) && !currentPage)?(currentPage?currentPage:1):(currentPage === 1 || !currentPage)?2:(currentPage + 1) %>"
														aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
													</a>
												</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<% } %>
						<!-- content-main end// -->
						


										</main>
										<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<!-- fontawesome -->
	<script src="https://kit.fontawesome.com/23d1247997.js" crossorigin="anonymous"></script>
	<!-- end of fontawesome -->
	<script src="/js/vendors/select2.min.js"></script>
	<script src="/js/vendors/perfect-scrollbar.js"></script>
	<script src="/js/vendors/jquery.fullscreen.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
		integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Bootstrap script file -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<!--end of Bootstrap script file -->
	<script src="/js/main.js?v=1.1" type="text/javascript"></script>



	<%- include('include/_footer') %>
