<%- include('include/_header') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Unlisted Categories</h2>
                <p>Add or Edit a category</p>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white" />
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 " id="editDiv">
                        <!-- <form> -->
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Category Name</label>
                            <input type="text" placeholder="Type here" class="form-control" id="category" />
                        </div>

                        <div class="d-grid mt-70">
                            <p id="categoryErr" style="color: red;"></p>
                            <button class="btn btn-primary" onclick="addCategory()">Add category</button>
                        </div>
                        <!-- </form> -->
                    </div>
                    <div class="col-md-3 hidden" id="editPanel">
                        <!-- <form> -->
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Edit Category</label>
                            <input type="text" placeholder="Type here" class="form-control" id="category1" />
                            <input type="text" placeholder="Type here" class="form-control" id="category2"
                                style="display: none;" />
                        </div>

                        <div class="d-grid mt-70">
                            <p id="categoryErr" style="color: red;"></p>
                            <button class="btn btn-primary" onclick="editcategory()">Submit </button>
                        </div>
                        <!-- </form> -->
                    </div>


                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            <div class="form-check">
                                            </div>
                                        </th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                        <th class="text-center">Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% category.map((value, index)=> { %>

                                        <tr>
                                            <td class="text-center">
                                            <td>
                                                <%= index + 1 %>
                                            </td>
                                            <td>
                                                <%= value.name %>
                                            </td>
                                            <td>
                                                <button onclick="listCategory(`<%= value._id %>`)" id="Listbtn"
                                                    class="btn btn-light rounded btn-sm font-sm justify-content-center "
                                                    style="color: red; width: 50px; height: 25px">List
                                                </button>
                                            </td>

                                            <td class="text-center">
                                                <a href="#"
                                                    class="btn btn-light rounded btn-sm font-sm justify-content-center"
                                                    style="width: 50px; height: 25px"
                                                    onclick="editDiv('<%= value.name %>', '<%= value._id %>')">
                                                    <i>Edit</i> </a>
                                            </td>

                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <%- include('include/_footer') %>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
            integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>



        <script src="/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/select2.min.js"></script>
        <script src="/js/vendors/perfect-scrollbar.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
        <script>


            const unlistCategory = (id) => {
                const unlistCategory = document.getElementById("unListbtn")
                const listCategory = document.getElementById("Listbtn")
                console.log(unlistCategory);
               

                                axios.patch("/unlistCategory",{
                                    id:id,
                                }).then((res)=>{
                console.log(res);
                if(res.data == true){
unlistCategory.textContent = "unlist"
                    // unlistCategory.style.display = 'none';
                    // listCategory.style.display = 'block';
                }else{
                    unlistCategory.style.display = 'block';
                    listCategory.style.display = 'none';
                    unlistCategory.textContent = "unlist"
                }

                                }).catch((error)=>{
                                    console.log(error);
                                })
            }




            const addCategory = () => {
                const name = document.getElementById("category");
                const categoryErr = document.getElementById("categoryErr");
                axios.post("/addcategory", {
                    name: name.value,
                }).then((res) => {
                    categoryErr.innerHTML = res.data;

                    if (res.data == "success") {

                        window.location.reload();
                    }
                }).catch((error) => {
                    if (error) {
                        categoryErr.innerHTML = error.response.data.errors[0].msg;
                    }
                })
            }

            const editcategory = () => {
                const name = document.getElementById("category1");
                const id = document.getElementById("category2");
                const categoryErr = document.getElementById("categoryErr");
                axios.patch("/editcategory", {
                    name: name.value,
                    id: id.value
                }).then((res) => {
                    categoryErr.innerHTML = res.data;

                    if (res.data == "success") {

                        window.location.reload();
                    }
                }).catch((error) => {
                    if (error) {
                        categoryErr.innerHTML = error.response.data.errors[0].msg;
                    }
                })
            }


            const editDiv = (value, id) => {

                const editDiv = document.getElementById("editDiv");
                const editPanel = document.getElementById("editPanel");
                const categoryInput = document.getElementById("category");
                document.getElementById("category1").value = value;
                document.getElementById("category2").value = id;


                editDiv.style.display = 'none';
                editPanel.style.display = 'block';
                // Add GSAP animation
                gsap.from("#editPanel", { duration: 0.5, rotationY: 90, ease: "power3.out" });
            }




        </script>

        </body>

        </html>