    <%- include('include/_header') %>

    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Users list</h2>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" />
                    </div>
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select">
                            <option>Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                        </select>
                    </div>
                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <% for(let i=0;i<user.length;i++){ %>
                            <tbody>
                                <td>
                                    <p>
                                        <%= i+1 %>
                                    </p>
                                </td>

                                <td>
                                    <p>
                                        <%= user[i].username %>
                                    </p>
                                </td>
                                <td>
                                    <p>
                                        <%= user[i].email %>
                                    </p>
                                </td>
                                <td>
                                    <% if (user[i].block==false) { %>

                                        <p class="text-success ">Active</p>

                                        <% } else { %>

                                            <p class="text-danger ">Inactive</p>

                                            <% } %>

                                </td>
                                <td>
                                    <% if (user[i].block == false) { %>

                                        <a href="/blockuser?userid=<%= user[i]._id %>"><button type="button"
                                                class="btn btn-danger">Block</button></a>

                                        <% } else { %>

                                            <a href="/unblockuser?userid=<%= user[i]._id %>"> <button type="button"
                                                    class="btn btn-success">Unblock</button></a>

                                            <% } %>
                                </td>

                            </tbody>
                            <% } %>
                    </table>
                    <!-- table-responsive.// -->
                </div>
            </div>
            <!-- card-body end// -->
        </div>
        <!-- card end// -->

        <% if (totalUsers !==0) { %>
            <div class="row mb-4">
              <div class="col-12">
                <div class="text-center pagenationButton">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="/adminUsers?page=<%= (currentPage === 1 || !currentPage)?1:(currentPage - 1) %>"
                          aria-label="Previous"
                        >
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <% for( let i=0; i < (Math.ceil(totalUsers/ 10)); i++ ) { %>
                      <li class="page-item">
                        <a class="page-link" href="/adminUsers?page=<%= (i + 1) %>">
                          <%= (i + 1) %>
                        </a>
                      </li>
                      <% } %>
                      <li class="page-item">
                        <a
                          class="page-link"
                          href="/adminUsers?page=<%= (((Math.ceil(totalUsers / 10)) === currentPage) || (Math.ceil(totalUsers / 10)) && !currentPage)?(currentPage?currentPage:1):(currentPage === 1 || !currentPage)?2:(currentPage + 1) %>"
                          aria-label="Next"
                        >
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <% } %>
    </section>


    <%- include('include/_footer') %>