<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Address</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <style>
        /* Hide the arrow icon for number input */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    </style>
</head>

<body>


    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/electronic-store-logo.svg" class="h-8" alt="OtronMart Logo" />
            </a>

            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">

                <ul
                    class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="/"
                            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Product</a>
                    </li>


                    <li>
                        <a href="/cart"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="px-4 pt-8 mt-3" style="margin: 0 auto; max-width: 600px;">
        <p class="text-xl font-medium">Address Details</p>
        <p class="text-gray-400">Edit Address</p>

        <div class="flex gap-5">
            <div class="relative w-6/12">
                <label for="name" class="mt-4 mb-2 block text-sm font-medium">Name</label>
                <input type="text" id="name" name="name"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Your Name" value="<%= address.name %>" />
                <span id="nameError"
                    class="text-center text-red-600 position-relative z-10 top-5 py-1.5 px-3 rounded-lg hidden"></span>
            </div>
            <div class="relative w-6/12">
                <label for="phonenumber" class="mt-4 mb-2 block text-sm font-medium">Phone Number</label>
                <input type="number" id="phonenumber" name="phonenumber"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Phone Number" value="<%= address.phonenumber %>" />
                <span id="phoneError"
                    class="text-center text-red-600 position-relative z-10 top-5 py-1.5 px-3 rounded-lg  hidden"></span>
            </div>
        </div>

        <div class="flex gap-5">
            <div class="relative w-6/12">
                <label for="pincode" class="mt-4 mb-2 block text-sm font-medium">Pincode</label>
                <input type="number" id="pincode" name="pincode"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Enter Pincode" value="<%= address.pincode %>" />
                <span id="pincodeError"
                    class="text-center text-red-600 position-relative z-10 top-5 py-1.5 px-3 rounded-lg  hidden"></span>
            </div>
            <div class="relative w-6/12">
                <label for="locality" class="mt-4 mb-2 block text-sm font-medium">Locality</label> <input type="text"
                    id="locality" name="locality"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Locality" value="<%= address.locality%>" />
                <span id="localityError"
                    class="text-center text-red-600 position-relative z-10 top-5 py-1.5 px-3 rounded-lg  hidden"></span>
            </div>
        </div>

        <div class="flex gap-5 mb-4">
            <div class="relative w-6/12">
                <label for="district" class="mt-4 mb-2 block text-sm font-medium">District</label>
                <input type="text" id="district" name="district"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Enter District" value="<%= address.district %>" />
                <span id="districtError"
                    class="text-center text-red-600 position-relative z-10 top-5 py-1.5 px-3 rounded-lg  hidden"></span>
            </div>
            <div class="relative w-6/12">
                <label for="state" class="mt-4 mb-2 block text-sm font-medium">State</label> <input type="text"
                    id="state" name="state"
                    class="w-full rounded-md border border-gray-200 px-4 py-3 pl-11 text-sm shadow-sm outline-none focus:z-10 focus:border-blue-500 focus:ring-blue-500"
                    placeholder="Enter State" value="<%= address.state %>" />
                <span id="stateError"
                    class="text-center text-red-600 position-relative z-10 top-5 py-1.5 px-3 rounded-lg  hidden"></span>
            </div>
        </div>
        <div>
            <div class="flex flex-wrap gap-x-4 mb-4">
                <p class="text-sm font-medium mb-2">Address Type : </p> <label class="inline-flex items-center">
                    <input type="radio" id="home" name="address_type" value="home"
                        class="rounded-full appearance-none h-4 w-4 border border-gray-300 checked:bg-blue-500 checked:border-blue-500 focus:ring-blue-500 focus:outline-none"
                        <%=address.addressType==='home' ? 'checked' : '' %> />
                    <span class="ml-2 text-sm text-gray-600">Home Address</span>
                </label>
                <label class="inline-flex items-center">
                    <input type="radio" id="office" name="address_type" value="office"
                        class="rounded-full appearance-none h-4 w-4 border border-gray-300 checked:bg-blue-500 checked:border-blue-500 focus:ring-blue-500 focus:outline-none"
                        <%=address.addressType==='office' ? 'checked' : '' %> />
                    <span class="ml-2 text-sm text-gray-600">Office Address</span>
                </label>
            </div>
            <span id="selectedAddressTypeError"
                class="text-center text-red-600 position-relative z-10 top-5 py-1.5 px-3 rounded-lg  hidden"></span>
        </div>
        <!-- <div class="text-center bg-red-600 relative z-10  top-5 py-1.5 px-3 rounded-lg text-white hidden transition duration-300 ease-in-out animate-bounce"
            id="errorpopup"></div> -->

        <div class="mt-8 flex justify-between items-center mb-8">
            <!-- Back button -->
            <a href="#" onclick="goBack()"
                class="inline-flex items-center px-4 py-2 text-base font-medium rounded-md text-gray-500 hover:text-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                <svg class="h-4 w-4 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
                </svg>
                Back
            </a>
            <div class="mt-8 flex justify-center mb-8">
                <button type="submit" onclick="updateAddress()"
                    class="inline-flex items-center px-4 py-2 text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Update Address
                </button>
            </div>
        </div>
    </div>
    <footer class="bg-gray-800 text-white p-4 text-center mt-8">
        <p>&copy;
            <script>
                document.write(new Date().getFullYear());
            </script> OtronMart E-Commerce. All rights reserved.
        </p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.4/axios.min.js"
        integrity="sha512-ANd7ZJmixP2T0hxOP4bS6hkci01fxyrQSyRdaY7IsWq1WlKsD0WwWBDVDZbnMR7CJZVKCTkDx/q5D5n2C2C+vg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function goBack() {
            window.history.back();
        }

        function updateAddress() {
            const name = document.getElementById("name").value.trim()
            const phonenumber = document.getElementById("phonenumber").value.trim()
            const pincode = document.getElementById("pincode").value.trim()
            const locality = document.getElementById("locality").value.trim()
            const district = document.getElementById("district").value.trim()
            const state = document.getElementById("state").value.trim()
            const selectedAddressType = document.querySelector('input[name="address_type"]:checked').value;

            // Get the error message element
            const nameError = document.getElementById('nameError');
            const phoneError = document.getElementById('phoneError');
            const pincodeError = document.getElementById('pincodeError');
            const localityError = document.getElementById('localityError');
            const districtError = document.getElementById('districtError');
            const stateError = document.getElementById('stateError');
            const selectedAddressTypeError = document.getElementById('selectedAddressTypeError');

            // Check if the address is empty
            if (!name) {
                nameError.classList.remove('hidden')
                nameError.innerHTML = 'Name is required';

            }
            if (!phonenumber) {
                phoneError.classList.remove('hidden')
                phoneError.innerHTML = 'Number is required';

            }
            if (!pincode) {
                pincodeError.classList.remove('hidden')
                pincodeError.innerHTML = 'Pincode is required';

            }
            if (!locality) {
                localityError.classList.remove('hidden')
                localityError.innerHTML = 'Locality is required';

            }
            if (!district) {
                districtError.classList.remove('hidden')
                districtError.innerHTML = 'District is required';

            }
            if (!state) {
                stateError.classList.remove('hidden')
                stateError.innerHTML = 'State is required';

            }
            if (!selectedAddressType) {
                selectedAddressTypeError.classList.remove('hidden')
                selectedAddressTypeError.innerHTML = 'Select address type';

            }

            axios.put("/updateaddress", {
                name,
                phonenumber,
                pincode,
                locality,
                district,
                state,
                addressType: selectedAddressType,
            })
                .then((data) => {
                    if (data) {
                        Swal.fire("Address Updated", "Click the button", "success").then(
                            () => {
                                window.location.href = '/address';
                            }
                        );
                    }
                    let errorModal = document.getElementById('errorpopup')
                    errorModal.innerText = data.data.message
                    errorModal.classList.remove('hidden')
                })
                .catch((error) => {
                    if (error?.response?.data?.errStatus) {
                        let errorModal = document.getElementById('errorpopup')
                        errorModal.innerText = error.response.data.message
                        return errorModal.classList.remove('hidden')
                    }
                    console.log(error);
                })
        }
    </script>
</body>

</html>