<%- include('include/_header') %>

    <!-- Hero Start -->
    <div class="container-fluid py-5 mb-5 hero-header">
      <div class="container py-5">       
        <div class="row g-5 align-items-center">      
          <div class="col-md-12 col-lg-7">     
            <h6 class="mb-3 text-secondary">Give Wings To Your Dreams</h6>
            <h1 class="mb-5 display-3 text-primary">NICHE</h1>
            <div class="position-relative mx-auto">
              <input
                class="form-control w-75 py-3 px-4 rounded-pill"
                style="border-color: rgba(37, 34, 34, 0.479)"
                type="number"
                placeholder="Search"
              />
              <button
                type="submit"
                class="btn btn-submit-color position-absolute rounded-pill text-white h-100"
                style="top: 0; right: 25%; background-color: black;border-color: black;"
              >
                 Submit now
              </button>
            </div>
          </div>
          <div class="col-md-12 col-lg-5">
          </div>
        </div>
      </div>
    </div>
    <!-- Hero End -->

    <!-- Featurs Section Start -->
    <div class="container-fluid featurs py-5">
      <div class="container py-5">
        <div class="row g-4">
          <div class="col-md-6 col-lg-3">
            <div class="featurs-item text-center rounded bg-light p-4">
              <div
                class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
              >
                <i class="fas fa-car-side fa-3x text-white"></i>
              </div>
              <div class="featurs-content text-center">
                <h6>Free Shipping</h6>
          
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="featurs-item text-center rounded bg-light p-4">
              <div
                class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
              >
                <i class="fas fa-user-shield fa-3x text-white"></i>
              </div>
              <div class="featurs-content text-center">
                <h6>100% Security Payment</h6>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="featurs-item text-center rounded bg-light p-4">
              <div
                class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
              >
                <i class="fas fa-exchange-alt fa-3x text-white"></i>
              </div>
              <div class="featurs-content text-center">
                <h6>30 Day Return</h6>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="featurs-item text-center rounded bg-light p-4">
              <div
                class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto"
              >
                <i class="fa fa-phone-alt fa-3x text-white"></i>
              </div>
              <div class="featurs-content text-center">
                <h6>24/7 Support</h6>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featurs Section End -->

    <!--Shop Start-->
    <div class="container-fluid fruite py-5">
      <div class="container py-5">
        <div class="tab-class text-center">
          <div class="row g-4">
            <div class="col-lg-4 text-start">
              <h1>Products</h1>
            </div>
            <div class="col-lg-8 text-end">
              <ul class="nav nav-pills d-inline-flex text-center mb-5">
                <li class="nav-item">
                  <a
                    class="d-flex m-2 py-2 bg-light rounded-pill active"
                    data-bs-toggle="pill"
                    href="#tab-1"
                  >
                    <span class="text-dark" style="width: 130px"
                      >All Products</span
                    >
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="d-flex py-2 m-2 bg-light rounded-pill"
                    data-bs-toggle="pill"
                    href="#tab-2"
                  >
                    <span class="text-dark" style="width: 130px"
                      >Men</span
                    >
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="d-flex m-2 py-2 bg-light rounded-pill"
                    data-bs-toggle="pill"
                    href="#tab-3"
                  >
                    <span class="text-dark" style="width: 130px">Women</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="d-flex m-2 py-2 bg-light rounded-pill"
                    data-bs-toggle="pill"
                    href="#tab-4"
                  >
                    <span class="text-dark" style="width: 130px">Kids</span>
                  </a>
                </li>
               
              </ul>
            </div>
          </div>
          <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <% for( let i = 0; i < product.length; i++ ) { %>
                      <div class="col-md-6 col-lg-4 col-xl-3">
                          <a href="/singleProductpage/<%= product[i]._id %>">
                          
                          <div class="rounded position-relative fruite-item">
                            <div class="fruite-img">
                              <img
                              src="<%= product[i].imgArr[0] %>"
                              class="img-fluid w-100 rounded-top"
                            alt=""
                            />
                          </div>
                          <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px"
                          >
                          <%= product[i].category.name %>
                        </div>
                        <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom"
                        >
                        <h4> <%= product[i].name %></h4>
                        <p class="text-dark">
                          FOR <%= product[i].category.name %>
                        </p>
                        <div
                        class="d-flex justify-content-between flex-lg-wrap"
                        >
                        <p class="text-dark fs-5 fw-bold mb-0">
                          <span class="price">₹<%= product[i].price %> </span>
                          <!-- <span class="Offer">20% </span>
                            <del class="org-price">₹4,990</del> -->
                          </p>
                          <a
                          href="#"
                          class="btn border border-secondary rounded-pill px-3 text-primary"
                          ><i
                          class="fa fa-shopping-bag me-2 text-primary"
                          ></i>
                          Add to cart</a
                          >
                        </div>
                      </div>
                    </div>
                  </a>
                  </div>
                  <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-2" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <% for( let i = 0; i < product.length; i++ ) { %>
                    <% if (product[i].category.name=== 'MEN') { %>
                     
                      <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="rounded position-relative fruite-item">
                          <div class="fruite-img">
                            <img
                            src="<%= product[i].imgArr[0] %>"
                            class="img-fluid w-100 rounded-top"
                            alt=""
                            />
                          </div>
                          <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px"
                          ><%= product[i].category.name %>
                        </div>
                        <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom"
                        >
                        <h4><%= product[i].name %></h4>
                        <p>
                          FOR <%= product[i].category.name %>
                        </p>
                        <div
                        class="d-flex justify-content-between flex-lg-wrap"
                        >
                        <p class="text-dark fs-5 fw-bold mb-0">
                          $<%= product[i].price %>
                        </p>
                        <a
                        href="#"
                        class="btn border border-secondary rounded-pill px-3 text-primary"
                        ><i
                        class="fa fa-shopping-bag me-2 text-primary"
                        ></i>
                        Add to cart</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <% } %>
                
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-3" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <% for( let i = 0; i < product.length; i++ ) { %>
                    <% if (product[i].category.name=== 'WOMEN') { %>
                     
                      <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="rounded position-relative fruite-item">
                          <div class="fruite-img">
                            <img
                            src="<%= product[i].imgArr[0] %>"
                            class="img-fluid w-100 rounded-top"
                            alt=""
                            />
                          </div>
                          <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px"
                          ><%= product[i].category.name %>
                        </div>
                        <div
                        class="p-4 border border-secondary border-top-0 rounded-bottom"
                        >
                        <h4><%= product[i].name %></h4></h4>
                        <p> FOR <%= product[i].category.name %></p>
                        <div
                        class="d-flex justify-content-between flex-lg-wrap"
                        >
                        <p class="text-dark fs-5 fw-bold mb-0">
                          $<%= product[i].price %>
                        </p>
                        <a
                        href="#"
                        class="btn border border-secondary rounded-pill px-3 text-primary"
                        ><i
                        class="fa fa-shopping-bag me-2 text-primary"
                        ></i>
                        Add to cart</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <% } %>
                <% } %>
                
              </div>
            </div>
          </div>
            </div>
            <div id="tab-4" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                   <% for( let i = 0; i < product.length; i++ ) { %>
                   <% if (product[i].category.name=== 'KIDS') { %>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img
                          src="<%= product[i].imgArr[0] %>"
                          class="img-fluid w-100 rounded-top"
                          alt=""
                          />
                        </div>
                        <div
                        class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                        style="top: 10px; left: 10px"
                        ><%= product[i].category.name %></div>
                      <div
                      class="p-4 border border-secondary border-top-0 rounded-bottom"
                      >
                      <h4><%= product[i].name %></h4>
                      <p>FOR <%= product[i].category.name %></p>
                      <div
                      class="d-flex justify-content-between flex-lg-wrap"
                      >
                      <p class="text-dark fs-5 fw-bold mb-0">
                        $4.99 / kg
                      </p>
                      <a
                      href="#"
                      class="btn border border-secondary rounded-pill px-3 text-primary"
                      ><i
                      class="fa fa-shopping-bag me-2 text-primary"
                      ></i>
                      Add to cart</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
              <% } %>
            </div>
          </div>
        </div>
            </div>
            <div id="tab-5" class="tab-pane fade show p-0">
              <div class="row g-4">
                <div class="col-lg-12">
                  <div class="row g-4">
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img
                            src="/img/fruite-item-3.jpg"
                            class="img-fluid w-100 rounded-top"
                            alt=""
                          />
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px"
                        >
                          Fruits
                        </div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom"
                        >
                          <h4>Banana</h4>
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit sed do eiusmod te incididunt
                          </p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap"
                          >
                            <p class="text-dark fs-5 fw-bold mb-0">
                              $4.99 / kg
                            </p>
                            <a
                              href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"
                              ><i
                                class="fa fa-shopping-bag me-2 text-primary"
                              ></i>
                              Add to cart</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img
                            src="/img/Vans Shoes for Men & Women.jpeg"
                            class="img-fluid w-100 rounded-top"
                            alt=""
                          />
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px"
                        >
                          Men
                        </div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom"
                        >
                          <h4>New Fashion</h4>
                          <p>
                            Men's Shoes
                          </p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap"
                          >
                            <p class="text-dark fs-5 fw-bold mb-0">
                              $4.99 / kg
                            </p>
                            <a
                              href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"
                              ><i
                                class="fa fa-shopping-bag me-2 text-primary"
                              ></i>
                              Add to cart</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-lg-4 col-xl-3">
                      <div class="rounded position-relative fruite-item">
                        <div class="fruite-img">
                          <img
                            src="/img/10 Pairs Of Shoes To Celebrate Pride & Honor The Stonewall50 In.jpeg"
                            class="img-fluid w-100 rounded-top"
                            alt=""
                          />
                        </div>
                        <div
                          class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                          style="top: 10px; left: 10px"
                        >
                          Women
                        </div>
                        <div
                          class="p-4 border border-secondary border-top-0 rounded-bottom"
                        >
                          <h4>Purple Canvas</h4>
                          <p>
                            Women's Shoes
                          </p>
                          <div
                            class="d-flex justify-content-between flex-lg-wrap"
                          >
                            <p class="text-dark fs-5 fw-bold mb-0">
                              $4.99 / kg
                            </p>
                            <a
                              href="#"
                              class="btn border border-secondary rounded-pill px-3 text-primary"
                              ><i
                                class="fa fa-shopping-bag me-2 text-primary"
                              ></i>
                              Add to cart</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fruits Shop End-->


    <!-- Vesitable Shop Start-->
    <div class="container-fluid vesitable py-5">
      <div class="container py-5">
        <h1 class="mb-0">Newly Launched</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">

          <% for( let i = 0; i < product.length; i++ ) { %>
          
            <div
            class="border border-primary rounded position-relative vesitable-item"
            >
            <div class="vesitable-img">
              <img
              src="<%= product[i].imgArr[0] %>"
              class="img-fluid w-100 rounded-top"
              alt=""
              />
            </div>
            <div
            class="text-white bg-primary px-3 py-1 rounded position-absolute"
            style="top: 10px; right: 10px"
            >
            <%= product[i].category.name %>
          </div>
          <div class="p-4 rounded-bottom">
            <h4><%= product[i].name %></h4>
            <p class="text-dark">
              FOR <%= product[i].category.name %>
            </p>
            <div class="d-flex justify-content-between flex-lg-wrap">
              <p class="text-dark fs-5 fw-bold mb-0">$<%= product[i].price %></p>
              <a
              href="#"
              class="btn border border-secondary rounded-pill px-3 text-primary"
              ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
              cart</a
              >
            </div>
          </div>
        </div>
        <% } %>
        </div>
      </div>
    </div>
    <!-- Vesitable Shop End -->

    <!-- Banner Section Start-->
    <div class="container-fluid banner bg-second my-5">
      <div class="container py-5">
        <div class="row g-4 align-items-center">
          <div class="col-lg-6">
            <div class="py-4">
              <h1 class="display-3 text-white">New Arrivals!</h1>
              <h1 class="fw-normal display-3 text-dark mb-4">Sports Shoes</h1>
              <h6 class="text-white">
                The new outsole design features translucent Nike Grind rubber and wraps onto the mudguard for added durability
              </h6>
              <a
                href="#"
                class="text-white banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5"
                >BUY</a
              >
            </div>
          </div>
          <div class="col-lg-6">
            <div class="position-relative">
              <img
                src="/img/shoe ad.jpeg"
                class="img-fluid w-100 rounded"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Section End -->

    <!-- Bestsaler Product Start -->
    <div class="container-fluid py-5">
      <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px">
          <h1 class="display-4">Bestseller Products</h1>
          <p>
            Latin words, combined with a handful of model sentence structures,
            to generate Lorem Ipsum which looks reasonable.
          </p>
        </div>
        <div class="row g-4">
          <div class="col-lg-6 col-xl-4">
            <div class="p-4 rounded bg-light">
              <div class="row align-items-center">
                <div class="col-6">
                  <img
                    src="/img/Vans Retro Lace Old Skool.jpeg"
                    class="img-fluid rounded-circle w-100"
                    alt=""
                  />
                </div>
                <div class="col-6">
                  <a href="#" class="h5">Multi Canvas</a>
                  <div class="d-flex my-3">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <h4 class="mb-3">3.12 $</h4>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="p-4 rounded bg-light">
              <div class="row align-items-center">
                <div class="col-6">
                  <img
                    src="/img/New Balance 327 Kombu With High Desert - Twinkle So Bright.jpeg"
                    class="img-fluid rounded-circle w-100"
                    alt=""
                  />
                </div>
                <div class="col-6">
                  <a href="#" class="h5">NB Sneakers</a>
                  <div class="d-flex my-3">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <h4 class="mb-3">3.12 $</h4>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-xl-4">
            <div class="p-4 rounded bg-light">
              <div class="row align-items-center">
                <div class="col-6">
                  <img
                    src="/img/Men's Lifestyle Shoes - Fashion Sneakers - New Balance.jpeg"
                    class="img-fluid rounded-circle w-100"
                    alt=""
                  />
                </div>
                <div class="col-6">
                  <a href="#" class="h5">Blue Canvas</a>
                  <div class="d-flex my-3">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star"></i>
                  </div>
                  <h4 class="mb-3">3.12 $</h4>
                  <a
                    href="#"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                    ><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                    cart</a
                  >
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bestsaler Product End -->

    <!-- Fact Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="bg-light p-5 rounded">
          <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="counter bg-white rounded p-5">
                <i class="fa fa-users text-secondary"></i>
                <h4>satisfied customers</h4>
                <h1>5963</h1>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="counter bg-white rounded p-5">
                <i class="fa fa-users text-secondary"></i>
                <h4>quality of service</h4>
                <h1>99%</h1>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="counter bg-white rounded p-5">
                <i class="fa fa-users text-secondary"></i>
                <h4>quality certificates</h4>
                <h1>33</h1>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
              <div class="counter bg-white rounded p-5">
                <i class="fa fa-users text-secondary"></i>
                <h4>Available Products</h4>
                <h1>10,789</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fact Start -->

    <!-- Tastimonial Start -->
    <div class="container-fluid testimonial py-5">
      <div class="container py-5">
        <div class="testimonial-header text-center">
          <h4 class="text-primary">Reviews</h4>
          <h1 class="display-5 mb-5 text-dark">Our Client Saying!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
          <div class="testimonial-item img-border-radius bg-light rounded p-4">
            <div class="position-relative">
              <i
                class="fa fa-quote-right fa-2x text-secondary position-absolute"
                style="bottom: 30px; right: 0"
              ></i>
              <div class="mb-4 pb-4 border-bottom border-secondary">
                <p class="mb-0">
                  Good quality and good design..
                </p>
              </div>
              <div class="d-flex align-items-center flex-nowrap">
                <div class="bg-secondary rounded">
                  <img
                    src="/img/Hanna Verhees _ Hello! Fashion _ Vacation Fashion Editorial.jpeg"
                    class="img-fluid rounded"
                    style="width: 100px; height: 100px"
                    alt=""
                  />
                </div>
                <div class="ms-4 d-block">
                  <h4 class="text-dark">Alis</h4>
                  <p class="m-0 pb-3">Excellent Product</p>
                  <div class="d-flex pe-5">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-item img-border-radius bg-light rounded p-4">
            <div class="position-relative">
              <i
                class="fa fa-quote-right fa-2x text-secondary position-absolute"
                style="bottom: 30px; right: 0"
              ></i>
              <div class="mb-4 pb-4 border-bottom border-secondary">
                <p class="mb-0">
                  Very nice shoes its looking awesome and comfortable for feet

                </p>
              </div>
              <div class="d-flex align-items-center flex-nowrap">
                <div class="bg-secondary rounded">
                  <img
                    src="/img/15 Outdoor Portrait Photography Tips.jpeg"
                    class="img-fluid rounded"
                    style="width: 100px; height: 100px"
                    alt=""
                  />
                </div>
                <div class="ms-4 d-block">
                  <h4 class="text-dark">Gangly</h4>
                  <p class="m-0 pb-3">Every time favourite</p>
                  <div class="d-flex pe-5">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-item img-border-radius bg-light rounded p-4">
            <div class="position-relative">
              <i
                class="fa fa-quote-right fa-2x text-secondary position-absolute"
                style="bottom: 30px; right: 0"
              ></i>
              <div class="mb-4 pb-4 border-bottom border-secondary">
                <p class="mb-0">
                  Good quality and fast delivery
                </p>
              </div>
              <div class="d-flex align-items-center flex-nowrap">
                <div class="bg-secondary rounded">
                  <img
                    src="/img/14 WAYS TO LOOK BEAUTIFUL EVERYDAY.jpeg"
                    class="img-fluid rounded"
                    style="width: 100px; height: 100px"
                    alt=""
                  />
                </div>
                <div class="ms-4 d-block">
                  <h4 class="text-dark">Jennis</h4>
                  <p class="m-0 pb-3">Awesome</p>
                  <div class="d-flex pe-5">
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                    <i class="fas fa-star text-primary"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tastimonial End -->

    <%- include('include/_footer') %>