<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/theme/Vector.jpg" />

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .flex-grow {
            flex-grow: 1;
        }

        .product-image {
            transition: transform 0.3s ease-in-out;
        }
    </style>
</head>

<body>


    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="/images/electronic-store-logo.svg" class="h-8" alt="OtronMart Logo" />
            </a>
            <div class="flex md:order-1">
                <button type="button" data-collapse-toggle="navbar-search" aria-controls="navbar-search"
                    aria-expanded="false"
                    class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                    <span class="sr-only">Search</span>
                </button>
                <div class="relative hidden md:block">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        <span class="sr-only">Search icon</span>
                    </div>
                    <input type="text" id="search-navbar"
                        class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search...">
                </div>
                <button data-collapse-toggle="navbar-search" type="button"
                    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-search" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-search">
                <div class="relative mt-3 md:hidden">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                    </div>
                    <input type="text" id="search-navbar"
                        class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Search...">
                </div>
                <ul
                    class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="#"
                            class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                            aria-current="page">Home</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Product</a>
                    </li>
                    <% if (user) { %>
                        <li>
                            <a href="/profile"
                                class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Account</a>
                        </li>
                        <% } else { %>

                            <li>
                                <a href="/login"
                                    class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Account</a>
                            </li>
                            <% } %>
                    <li>
                        <a href="/cart/"
                            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

<body class="bg-gray-100 font-sans flex flex-col">

    <!-- Navigation -->
    <!-- <nav class="bg-blue-500 p-4 text-white">
        <div class="container mx-auto">
            <a href="#" class="text-2xl font-bold">Product Page</a>
        </div>
    </nav> -->

    <!-- Product Details -->
    <div class="container mx-auto mt-8 p-4 flex-grow">
        <div class="flex flex-col md:flex-row">
            <!-- Product Information -->
            <div class="md:w-full lg:w-2/3 p-4">
                <img src="<%= product.images[0] %>" alt="Product Image"
                    class="w-full h-full rounded-md product-image" id="productImage">
            </div>
            <!-- Product Details -->
            <div class="md:w-full lg:w-1/3 md:mt-0 mt-4 overflow-y-auto max-h-96">
                <% for( let i = 0; i < product.images.length; i++ ) { %>
                
                
                <!-- Product List -->
                <div class="flex flex-wrap gap-4">
                    <div class="mb-4 w-full md:w-1/2 cursor-pointer" onclick="changeProductImage('<%= product.images[i] %>')">
                        <img src="<%= product.images[i] %>" alt="Product 1" class="w-full h-auto rounded-md">
                    </div>
                    <!-- <div class="mb-4 w-full md:w-1/2 cursor-pointer" onclick="changeProductImage('/images/IMG-20231221-WA0002.jpg')">
                        <img src="/images/IMG-20231221-WA0002.jpg" alt="Product 2" class="w-full h-auto rounded-md">
                    </div>
                    <div class="mb-4 w-full md:w-1/2 cursor-pointer" onclick="changeProductImage('/images/IMG-20231221-WA0003.jpg')">
                        <img src="/images/IMG-20231221-WA0003.jpg" alt="Product 3" class="w-full h-auto rounded-md">
                    </div>
                    <div class="mb-4 w-full md:w-1/2 cursor-pointer" onclick="changeProductImage('/images/IMG-20231221-WA0004.jpg')">
                        <img src="/images/IMG-20231221-WA0004.jpg" alt="Product 4" class="w-full h-auto rounded-md">
                    </div> -->
                </div>
                <% } %>
            </div>

            <!-- Product Details -->
            <div class="flex flex-col md:w-full lg:w-1/3 gap-4 mt-4">
                <h1 class="text-3xl font-bold mb-4" id="productName"><%= product.name %></h1>
                <p class="text-gray-700 mt-4" id="productDescription"><%= product.description %></p>
                <p class="text-2xl font-bold mt-4" id="productPrice">₹<%= product.price %></p>
                <button onclick="addToCart( '<%- product._id %>')" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-700">Add to Cart</button>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-gray-800 text-white p-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 Product Page. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.4/axios.min.js"
        integrity="sha512-ANd7ZJmixP2T0hxOP4bS6hkci01fxyrQSyRdaY7IsWq1WlKsD0WwWBDVDZbnMR7CJZVKCTkDx/q5D5n2C2C+vg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <script>
        function changeProductImage(imageUrl) {
            const productImage = document.getElementById('productImage');
            const productDescription = document.getElementById('productDescription');
            const productPrice = document.getElementById('productPrice');

            productImage.style.transform = 'scale(0)';
            setTimeout(() => {
                productImage.src = imageUrl;
                productImage.style.transform = 'scale(1)';
            }, 300);
        }

        function addToCart(id) {
            axios.post('/api/addtocart', { id })
            .then(response => {
                console.log(response);
                // Check if the product was successfully added or already exists
                if (response.data.message === 'Product already in cart') {
                    console.log(response,"response");
                    console.log(response.data,"response data");
                    // Redirect the user to the cart page
                    window.location.href = '/cart';
                } else if(response.data.message === "Please Login"){
                    window.location.href = '/login';
                }else{
    
                    console.log(response.data.message);
                }
            })
            .catch(error => {
                // Handle error, log to console for simplicity
                console.error('Error:', error);
            });
        }
    </script>

</body>

</html>
