<%- include('include/_header') %>
<style>
  .ptop {
    padding-top: 3rem;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .range-slider {
    position: relative;
    width: 200px;
    height: 10px;
    border-radius: 15px;
    background: transparent linear-gradient(90deg, #5f822d 0%, #a5af33 100%) 0%
      0% no-repeat padding-box;
  }
  .range-slider .progress {
    position: absolute;
    left: 25%;
    right: 0%;
    height: 100%;
    border-radius: 15px;
    background: transparent linear-gradient(90deg, #e4e7c1 0%, #d39892 100%) 0%
      0% no-repeat padding-box;
  }
  .range-slider input[type="range"] {
    position: absolute;
    width: 100%;
    height: 5px;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
  }
  .range-slider .range-min::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    border: 2px solid #8b9e30;
    border-radius: 20px;
    opacity: 1;
  }
  .range-slider .range-max::-webkit-slider-thumb {
    pointer-events: auto;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #fcfcfc 0% 0% no-repeat padding-box;
    border: 2px solid #a22a2a;
    border-radius: 20px;
    opacity: 1;
  }
</style>
<style>
  .color-palette {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;
  }

  .color-option {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
  }

  .color-option:hover {
    border: 2px solid #333;
  }
</style>

<div class="container-fluid fruite ptop">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          <div class="col-xl-3">
            <div
              class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4"
            >
              <label for="sorting">Default Sorting:</label>
              <select
                id="sorting"
                class="border-0 form-select-sm bg-light me-3"
              >
                <option value="default">Default</option>
                <option value="lowToHigh">Low to High</option>
                <option value="highToLow">High to Low</option>
                <option value="newToOld">New to Old</option>
                <option value="oldToNew">Old to New</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-3">
            <div class="row g-4">
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4>Categories</h4>
                  <ul class="list-unstyled fruite-categorie">
                    <li>
                      <% listedCategories.forEach(category => { %>
                      <div class="d-flex justify-content-between fruite-name">
                        <a
                          href="/shop?category=<%= category._id %>"
                          style="padding-left: 30px"
                          id="categorySelect"
                        >
                          <%= category.name %>
                        </a>
                      </div>
                      <% }); %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4>Colors</h4>
                  <div id="colorPalette" class="color-palette">
                    <% colors.forEach(color => { %>
                    <div
                      class="color-option border"
                      style="background-color: <%= color %>"
                      data-color="<%= color %>"
                    ></div>
                    <% }); %>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4 class="mb-3">Price</h4>
                  <div
                    class="flex relative justify-center items-center h-20 w-full mx-auto rounded">
                    <div class="d-flex gap-2">
                      <p>Starting Price</p>
                      <div class="min-value numberVal" >
                        <input
                        style="width: 70px;"
                          type="number"
                          class="rounded-2 text-center"
                          min="0"
                          max="100"
                          value="0"
                          disabled
                        />
                      </div>
                    </div>
                    &nbsp;
                    <div class="range-slider">
                      <div class="progress"></div>
                      <span class="range-min-wrapper">
                        <input
                          class="range-min d-flex"
                          type="range"
                          min="0"
                          max="10000"
                          value="0"
                          id="startingPrice"
                        />
                      </span>
                      <span class="range-max-wrapper">
                        <input
                          class="range-max"
                          type="range"
                          min="0"
                          max="10000"
                          value="0"
                          id="endPrice"
                        />
                      </span>
                    </div>
                    &nbsp;
                    <div class="d-flex gap-2">
                      <p>Ending Price</p>
                      <div class="max-value numberVal">
                        <input
                        style="width: 70px;"

                          type="number"
                          class="rounded-2 text-center"
                          min="0"
                          max="100"
                          value="0"
                          disabled
                        />
                      </div>
                    </div>
                    <div
                      class="mb-3 justify-content-center d-flex"
                      style="margin-left: 200px"
                    >
                      <button
                        class="btn btn-dark rounded-2 text-white"
                        id="submitButton"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row g-4 justify-content-center" id="productLoad">
              <% for( let i = 0; i < product.length; i++ ) { %>
              <div class="col-md-6 col-lg-6 col-xl-4">
                <a href="/singleProductpage/<%= product[i]._id %>">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img
                        src="<%= product[i].imgArr[0] %>"
                        class="img-fluid w-100 rounded-top"
                        alt=""
                      />
                    </div>
                    <div
                      class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px"
                    >
                      <%= product[i].category[0].name %>
                    </div>
                    <div
                      class="p-4 border border-secondary border-top-0 rounded-bottom"
                    >
                      <h4><%= product[i].name %></h4>
                      <p>FOR <%= product[i].category[0].name %></p>
                      <% if (product[i].stock>0) { %>
                      <p class="text-success ms-2 fw-bold">In stock</p>
                      <% } else{%>
                      <p class="text-danger ms-2 fw-bold">Out of stock</p>
                      <% } %>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <% if (product[i].offerApplied) { %>
                        <p class="text-dark fs-5 fw-bold mb-0">
                          <span class="off-price"
                            >₹<%= Math.round(product[i].offerPrice) %></span
                          >
                          <del>
                            <span class="price" style="color: red"
                              >₹<%= product[i].price %>
                            </span>
                          </del>
                          <span style="color: red; font-size: small"
                            >(<%= product[i].offer[0]?.discountPercentage %>%
                            off)</span
                          >
                        </p>
                        <% } else { %>
                        <p class="text-dark fs-5 fw-bold mb-0">
                          <span class="off-price"
                            >₹<%= product[i].price %></span
                          >
                          <br />
                        </p>
                        <% } %> <% if (product[i].stock>0) { %>
                        <button
                          onclick="addTocart('<%- product[i]._id %>')"
                          class="btn border border-secondary rounded-pill px-3 text-primary"
                        >
                          <i class="fa fa-shopping-bag me-2 text-primary"></i>
                          Add to Cart
                        </button>
                        <% } else{%>
                        <button
                          class="btn bg-danger border-secondary rounded-pill px-3 text-primary"
                        >
                          <i class="fa fa-shopping-bag me-2 text-primary"></i>
                          Out of Stock
                        </button>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <% } %>

              <div class="col-12">
                <div class="pagination d-flex justify-content-center mt-5">
                  <a href="/shop?page=1" class="rounded">&laquo;</a>
                  <% for(let i=1; i<=totalPages; i++) { %>
                  <a
                    href="/shop?page=<%= i %>"
                    data-page="<%= i %>"
                    class="<%= currentPage === i ? 'active' : '' %> rounded how-pagination1"
                    ><%= i %></a
                  >
                  <% } %>
                  <a href="/shop?page=<%= totalPages %>" class="rounded"
                    >&raquo;</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-c-m flex-w w-full p-t-38">
        <!-- Pagination links will be generated dynamically here -->
      </div>
    </div>
  </div>
</div>
<!-- Fruits Shop End-->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  const range = document.querySelectorAll(".range-slider span input");
  progress = document.querySelector(".range-slider .progress");
  let gap = 0.1;
  const inputValue = document.querySelectorAll(".numberVal input");

  range.forEach((input) => {
    input.addEventListener("input", (e) => {
      let minRange = parseInt(range[0].value);
      let maxRange = parseInt(range[1].value);

      if (maxRange - minRange < gap) {
        if (e.target.className === "range-min") {
          range[0].value = maxRange - gap;
        } else {
          range[1].value = minRange + gap;
        }
      } else {
        progress.style.left = (minRange / range[0].max) * 100 + "%";
        progress.style.right = 100 - (maxRange / range[1].max) * 100 + "%";
        inputValue[0].value = minRange;
        inputValue[1].value = maxRange;
      }
    });
  });
</script>

<script>
  $(document).ready(function () {
    let selectedColor = "";

    $(".color-option").click(function () {
      selectedColor = $(this).data("color");
      console.log(selectedColor, "Selected color");
    });

    $("#submitButton").click(function () {
      const startingPrice = $("#startingPrice").val();
      const endPrice = $("#endPrice").val();
      const sorting = $("#sorting").val();
      const productSearch = $("#searchInput").val();
      
      sendDataToBackend(
        startingPrice,
        endPrice,
        sorting,
        productSearch,
        1,
        selectedColor
      );
    });

    function sendDataToBackend(
      startingPrice,
      endPrice,
      sorting,
      productSearch,
      page = 1,
      selectedColor
    ) {
      console.log(
        startingPrice,
        endPrice,
        sorting,
        productSearch,
        page,
        selectedColor,
        "sexdrctfvgybhertfguyhj"
      );

      $.ajax({
        url: "/shop",
        method: "GET",
        data: {
          fromFrontEnd: true,
          startingPrice: startingPrice,
          endPrice: endPrice,
          sorting: sorting,
          productSearch: productSearch,
          page: page,
          color: selectedColor,
        },
        success: function (response) {
          console.log(response);
          if (response.success) {
            const product = response.product;
            let productHtml = "";
            let pagenation = ``;
            if (product && product.length > 0) {
              for (let i = 0; i < product.length; i++) {
                productHtml += `
              <div class="col-md-6 col-lg-6 col-xl-4" >
                <a href="/singleProductpage/${product[i]._id}">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img
                        src="${product[i].imgArr[0]}"
                        class="img-fluid w-100 rounded-top"
                        alt=""
                      />
                    </div>
                    <div
                      class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px"
                    >
                      ${product[i].category[0].name}
                    </div>
                    <div
                      class="p-4 border border-secondary border-top-0 rounded-bottom"
                    >
                      <h4>${product[i].name}</h4>
                      <p>FOR ${product[i].category[0].name}</p>
                      ${
                        product[i].stock > 0
                          ? '<p class="text-success ms-2 fw-bold">In stock</p>'
                          : '<p class="text-danger ms-2 fw-bold">Out of stock</p>'
                      }
                      <div class="d-flex justify-content-between flex-lg-wrap">
              `;
                if (product[i].offerApplied) {
                  productHtml += `
                  <p class="text-dark fs-5 fw-bold mb-0">
                    <span class="off-price"
                      >₹${Math.round(product[i].offerPrice)}</span
                    >

                    <del>
                      <span class="price" style="color: red"
                        >₹${product[i].price}
                      </span>
                    </del>
                    <span style="color: red; font-size: small"
                      >(${product[i].offer[0]?.discountPercentage}%
                      off)</span
                    >
                  </p>
                `;
                } else {
                  productHtml += `
                  <p class="text-dark fs-5 fw-bold mb-0">
                    <span class="off-price"
                      >₹${product[i].price}</span
                    >
                    <br />
                  </p>
                `;
                }

                if (product[i].stock > 0) {
                  productHtml += `
                  <button
                    onclick="addTocart('${product[i]._id}')"
                    class="btn border border-secondary rounded-pill px-3 text-primary"
                  >
                    <i class="fa fa-shopping-bag me-2 text-primary"></i>
                    Add to Cart
                  </button>
                `;
                } else {
                  productHtml += `
                  <button
                    class="btn bg-danger border-secondary rounded-pill px-3 text-primary"
                  >
                    <i class="fa fa-shopping-bag me-2 text-primary"></i>
                    Out of Stock
                  </button>
                `;
                }

                productHtml += `
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              `;
              }
            } else {
              productHtml = `
							<div class="col-12 text-center">
								<p>No products available.</p>
							</div>`;
            }
            const div = document.createElement("div");
            div.classList.add("col-12");
            const paginationDiv = document.createElement("div");
            paginationDiv.classList.add("pagination");
            paginationDiv.classList.add("d-flex");
            paginationDiv.classList.add("justify-content-center");
            paginationDiv.classList.add("mt-5");
            div.append(paginationDiv);
            const aTag = document.createElement("a");
            aTag.textContent = "«";
            aTag.href = "/shop?page=1";
            aTag.classList.add("rounded");
            paginationDiv.append(aTag);

            for (let i = 1; i <= response.totalPages; i++) {
              const a = document.createElement("a");
              a.textContent = i;
              a.href = `/shop?page=${i}`;
              a.setAttribute("data-page", i);
              if (response.currentPage === i) {
                a.classList.add("active");
              }
              a.classList.add("rounded");
              a.classList.add("how-pagination1");
              paginationDiv.append(a);
            }

            const nextATag = document.createElement("a");
            nextATag.href = `/shop?page=${response.totalPages}`;
            nextATag.classList.add("rounded");
            nextATag.textContent = "»;";
            paginationDiv.append(nextATag);

            document.querySelector("#productLoad").innerHTML = productHtml;
            document.querySelector("#productLoad").append(div);
            $("#paginationLinks").html(
              generatePaginationLinks(response.totalPages, response.currentPage)
            );
          } else {
            console.log("Data not senttttt:", response.error);
          }
          console.log("Data sent successfully:", response);
        },
        error: function (xhr, status, error) {
          console.error("Error occurred while sending data:", error);
        },
      });
    }

    function generatePaginationLinks(totalPages, currentPage) {
      let paginationHtml = "";
      for (let i = 1; i <= totalPages; i++) {
        paginationHtml += `
					<a href="#" class="flex-c-m how-pagination1 trans-04 m-all-7${
            currentPage === i ? " active-pagination1" : ""
          }" data-page="${i}">
						${i}
					</a>
				`;
      }
      return paginationHtml;
    }
    document.querySelectorAll(".how-pagination1").forEach((elem, index) => {
      console.log(elem);
      elem.addEventListener("click", (e) => {
        e.preventDefault();
        const pageNumber = elem.getAttribute("data-page");
        const startingPrice = $("#startingPrice").val();
        const endPrice = $("#endPrice").val();
        const sorting = $("#sorting").val();
        const productSearch = $("#productSearch").val();
        console.log(
          pageNumber,
          startingPrice,
          endPrice,
          sorting,
          productSearch,
          "asdcfgbh"
        );
        sendDataToBackend(
          startingPrice,
          endPrice,
          sorting,
          productSearch,
          pageNumber
        );
      });
    });
  });
</script>

<script>
  function addTocart(id) {
    axios
      .post("/addtocart", { id })
      .then((res) => {
        console.log(res);
        if (res.data.message === "Product already in cart") {
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            },
          });
          Toast.fire({
            icon: "success",
            title: "Product Already In Cart",
          });
        } else if (res.data.message === "Please Login") {
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            },
          });
          Toast.fire({
            icon: "success",
            title: "User not logged in",
          });
          window.location.href = "/userLogin";
        } else {
          const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            },
          });
          Toast.fire({
            icon: "success",
            title: "Product Added To Cart",
          });
        }
      })
      .catch((error) => {
        console.log("Error:", error);
      });
  }
</script>

<%- include('include/_footer') %>
