
<%- include('include/_header') %>


<header>
<style>

*::after,
*::before,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
p {
  margin: 0;
}
.row > * {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

/*---------- BS var ----------*/
:root {
  --bs-body-bg: transparent;
  --bs-border-color: rgba(255, 255, 255, 0.4);
  --bs-accordion-btn-focus-border-color: transparent;
}
.accordion-button:not(.collapsed) {
  color: white;
  background-color: transparent;
  box-shadow: none;
}
.accordion-button:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}
.accordion-button::after {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.3258L8.67417 11.3258V20H11.3258L11.3258 11.3258L20 11.3258V8.67418L11.3258 8.67417L11.3258 8.9407e-07L8.67418 0L8.67417 8.67417L0 8.67418V11.3258Z' fill='%2300FF00'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
}
.accordion-button:not(.collapsed)::after {
  width: 16px;
  height: 16px;
  transform: rotate(45deg);
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 11.3258L8.67417 11.3258V20H11.3258L11.3258 11.3258L20 11.3258V8.67418L11.3258 8.67417L11.3258 8.9407e-07L8.67418 0L8.67417 8.67417L0 8.67418V11.3258Z' fill='%2300FF00'/%3E%3C/svg%3E%0A");
  background-size: cover;
  background-position: center;
}
/*---------- end of BS var ----------*/

/*---------- header ----------*/
.header {
  width: 100vw;
  height: 2rem;
}
.topheader {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
}
.topheadingimgone img {
  width: 2rem;
  height: 1rem;
  flex-shrink: 0;
}
.topheadingimgtwo img {
  width: 0.75rem;
  height: 1rem;
  flex-shrink: 0;
}
.topheaderone {
  justify-content: flex-end;
  border-right: 0.8px solid rgba(0, 255, 0, 0.05);
  background: linear-gradient(
    44deg,
    #111216 -4.62%,
    rgba(91, 99, 120, 0) 804.71%
  );
}
.topheaderone p {
  padding-left: 0.75rem;
  padding-right: 1.25rem;
}
.topheadertwo {
  justify-content: flex-start;
  background: linear-gradient(
    298deg,
    #111216 -34.19%,
    rgba(91, 99, 120, 0) 1164.24%
  );
  padding-left: 1.25rem;
}
.topheadertwo p {
  padding-left: 0.5rem;
}
.topheadingimg {
  display: flex;
  align-items: center;
  color: #fff;
  font-family:"Open Sans",sans-serif;
  font-size: 0.65rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.topheadingimgone {
  justify-content: flex-end;
}
.topheadingimgtwo {
  justify-content: flex-start;
}

.mobilenavigationList {
  display: none;
  position: fixed;
  width: 75vw;
  height: 100vh;
  background-color: blue;
  z-index: 1;
  top: 0;
  left: -100%;
  padding: 94px 50px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  transition: left 0.4s ease-in-out;
}
.mobilenavigationList.active {
  left: 0;
}
.mobilenavigation.active {
  position: fixed;
  z-index: 2;
}
.mobilenavigation {
  display: none;
  margin-right: 20px;
}
.navigation {
  width: 100vw;
  height: 62px;
  background: linear-gradient(180deg, #d9d9d9 -406.45%, #000 139.51%);
}
.hamburger {
  position: relative;
  background: transparent;
  border: transparent;
  width: 30px;
  height: 20px;
  z-index: 2;
}
.hamburger span {
  width: 30px;
  height: 2px;
  margin: 10px 0;
  background: white;
  transform-origin: center center;
  transition: all 0.2s linear 0.1s;
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(1) {
  transform: translateY(11.5px) rotate(45deg);
}
.hamburger.active span:nth-child(3) {
  transform: translateY(-11.5px) rotate(-45deg);
}
.logo svg {
  height: 2rem;
}
.navigationnavbar ul li {
  margin-left: 2rem;
}
.navigationnavbar ul li:last-child {
  margin-right: 2rem;
}
.navigationnavbar ul li a {
  color: #fff;
  font-family:"Open Sans",sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.useroptions ul li {
  margin-left: 1.3rem;
}
.useroptions ul li a svg {
  width: 20px;
  height: 20px;
}
.navigation {
  padding: 0 11.5%;
}
.hamburger.active span {
  background-color: #000;
}
.mobilenavigationList ul li a {
  color: #000;
  font-family:"Open Sans",sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mobilenavigationList ul {
  width: 100%;
  height: 100%;
}
.mobilenavigationList h2 {
  color: rgba(0, 0, 0, 0.5);
  font-family:"Open Sans",sans-serif;
}
.mobilenavigationList ul li {
  border-bottom: 1pt solid #e0e0e0;
  padding: 8px 0;
}
.mobilenavigationList ul li a:focus {
  color: #0f0;
}
.mobilenavigationList ul {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 2% 0 0;
}
.mobilenavigationList ul::-webkit-scrollbar {
  width: 15px;
}
.mobilenavigationList ul::-webkit-scrollbar-thumb {
  background-color: #0f0;
  border-radius: 10px;
}
.mobilenavigationList ul::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: none;
}
/*---------- end of header ----------*/

/*---------- main COntent ----------*/
.main {
  padding: 3% 4%;
}
.mainContainer {
  border: 1px solid #e0e0e0;
  background: #fff;
}
.cartHead {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.cartHead h2 {
  color: #000;
  font-family:"Open Sans",sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cartBody {
  padding: 1.25rem;
}
.cartHead svg {
  width: 35px;
  height: 35px;
}
.orderSummary {
  margin-left: auto;
  width: 80%;
  background: #fff;
  margin-bottom: 2rem;
}
.orderHeading {
  padding: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
}
.orderHeading h2 {
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  font-family:"Open Sans",sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.orderContent {
  padding: 1.2rem;
  border-bottom: 1px solid #e0e0e0;
  font-family:"Open Sans",sans-serif;
  font-style: normal;
  line-height: normal;
}
.orderContent div {
  margin-bottom: 1.75rem;
}
.orderContent div:last-child {
  margin-bottom: 0;
}
.commonText {
  color: rgba(0, 0, 0, 0.75);
  font-size: 0.9rem;
  font-weight: 400;
}
.commonSub {
  color: #000;
  font-size: 0.9rem;
  font-weight: 600;
}
.ship p:nth-child(2) {
  color: #3cb77c;
}
.tPrice {
  padding: 1.2rem;
}
.tPrice p {
  font-size: 1.25rem;
  font-weight: 500;
}
.deleviryContent {
  padding: 2rem;
}
.chooseAdd {
  border: 1px solid #e0e0e0;
  padding: 2rem 1.5rem;
}
.existingAddress {
  width: 65%;
}
.existingAddress p {
  color: rgba(0, 0, 0, 0.75);
  font-family:"Open Sans",sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.button {
  color: #000;
  font-family:"Open Sans",sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: transparent;
  outline: none;
  background-color: #0f0;
  padding: 0.4rem 1.25rem;
  top: 20px;
  right: 20px;
}
.phone {
  width: max-content;
}
.checkOut {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 12vh;
  border: 1px solid #e0e0e0;
  margin-bottom: 2rem;
  padding: 0 3%;
}
.checkOut button {
    width: 10rem;
    border: transparent;
    outline: transparent;
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
    background-color: #0f0;
    padding: 1rem;
}
.pInfo{
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid #e0e0e0;
}
.pInfo h2{
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.25rem;
}
.pInfo p{
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0.5rem;
}
.pInfo span{
    font-weight: 400;
}
.pInfo{
    margin-bottom: 1.25rem;
}
.logOutBtn button{
    border: transparent;
    outline: transparent;
    background-color: #000;
    color: #fff;
    color: #FFF;
    font-family:"Open Sans",sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 5rem;
    height: 2rem;
    border-radius: 4px;
}
.cardOptions{
    border-radius: 9px;
    width: 8rem;
    border: 1px solid #e0e0e0;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.cardOptions svg{
    width: 42px;
    height: 42px;
    margin-bottom: 0.2rem;
}
.cardOptions p{
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/*---------- end of main COntent ----------*/

/*---------- footer ----------*/
footer {
  width: 100vw;
  padding: 9.25rem 0 9.25rem 9.25rem;
  background: radial-gradient(
    1491.2% 240.19% at -108.46% 256.46%,
    #d9d9d9 0%,
    #a3a3a3 0%,
    #000 100%
  );
  flex-shrink: 0;
}
.subheading h2 {
  color: #fff;
  font-family:"Open Sans",sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.descriptionOne svg {
  margin-right: 1.25rem;
}
.contact {
  color: #fff;
  font-family:"Open Sans",sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dateTime {
  color: rgba(255, 255, 255, 0.4);
  font-family:"Open Sans",sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 2.25rem;
  border-bottom: 1px solid rgba(224, 224, 224, 0.1);
  margin-bottom: 1.25rem;
}
.descriptionTwo a {
  color: rgba(255, 255, 255, 0.4);
  font-family:"Open Sans",sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.descriptionTwo {
  gap: 0.75rem;
}
.descriptionThree {
  gap: 2rem;
}
.mediumScreen {
  display: none;
}
.social {
  margin-top: 4rem;
}
.socialMedia {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  gap: 1.58rem;
}
.socialMedia div {
  width: 2.62931rem;
  height: 2.5rem;
  background: #4c525f;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catgory {
  width: 100%;
  height: 100%;
}
.catgoryDiv {
  position: relative;
  width: 90%;
  height: 2.5rem;
  flex-shrink: 0;
  background: #4c525f;
  margin-bottom: 10%;
  padding: 0.5%;
}
.catgoryDiv:nth-child(2),
.catgoryDiv:nth-child(4),
.catgoryDiv:nth-child(6) {
  margin: 0;
}
.catgoryDiv a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family:"Open Sans",sans-serif;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}
.smallScreenSocial {
  display: none;
  padding-bottom: 1rem;
}
/*---------- end of footer ----------*/

/*---------- media query ----------*/
@media (max-width: 1536px) {
    .mainContainer{
        width: 699px;
    }
}
@media (max-width: 1472px) {
  .navigation {
    padding: 0 9.5%;
  }
}
@media (max-width: 1401px) {
  .navigation {
    padding: 0 6.5%;
  }
}
@media (max-width: 1305px) {
  .navigation {
    padding: 0 3.5%;
  }
}
@media (max-width: 1223px) {
  .navigation {
    padding: 0 20px;
  }
}
@media (max-width: 1179px) {
  .navigationnavbar ul li a {
    font-size: 12px;
  }
  .logo svg {
    width: 87.85px;
    height: 1.5rem;
  }
}
@media (max-width: 1158px) {
  .footerdescription {
    display: none;
  }
  footer {
    padding: 1.5rem 0 2rem 0;
  }
  .mediumScreen {
    display: block;
  }
  .subheading h2 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .descriptionOne svg:first {
    margin-bottom: 1.25rem;
  }
  .dateTime {
    border: none;
    font-size: 0.68rem;
  }
  .contact {
    font-size: 0.75rem;
  }
  .accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid var(--bs-border-color);
  }
  .largeScreenSocial {
    display: none;
  }
  .smallScreenSocial {
    display: block;
  }
}
@media (max-width: 1048px) {
  .navigationnavbar ul li {
    margin-left: 1rem;
  }
  .navigationnavbar ul li:last-child {
    margin-right: 1rem;
  }
  .tPrice p {
    font-size: 1rem;
    font-weight: 500;
  }
  .productDetails h2 {
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0.75rem;
  }
  .quandity div {
    width: 18px;
    height: 18px;
    border: 1px solid #e0e0e0;
    background-color: white;
    margin-bottom: 0.75rem;
  }
  .quandity div i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    object-fit: contain;
  }
  .quandity div:first-child,
  .quandity div:last-child {
    width: 24px;
    cursor: pointer;
    background-color: #eee;
  }
  #qty {
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
  }
  .color {
    color: rgba(0, 0, 0, 0.4);
    font-family:"Open Sans",sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .cName {
    text-transform: capitalize;
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 0.65rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.2rem;
  }
  .price {
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-family:"Open Sans",sans-serif;
  }
  .price p:nth-child(1) {
    color: #212121;
    font-size: 1rem;
    font-weight: 700;
  }
  .price p:nth-child(2) {
    color: #bdbdbd;
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration-line: line-through;
  }
  .price p:nth-child(3) {
    color: #3cb77c;
    font-size: 0.8rem;
    width: max-content;
    font-weight: 500;
  }
  .deleteBtn {
    top: 14px;
    right: 14px;
  }
  .deleteBtn svg {
    width: 11px;
    height: 15px;
  }
  .checkOut button {
    width: 8rem;
    border: transparent;
    outline: transparent;
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
    background-color: #0f0;
    padding: 0.8rem;
  }
  .checkOut {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 10vh;
    border: 1px solid #e0e0e0;
    margin-bottom: 2rem;
    padding: 0 3%;
  }
}
@media (max-width: 871px) {
  .itemImg {
    width: 120px;
  }
}
@media (max-width: 771px) {
  .cartBody {
    flex-direction: column;
    align-items: center;
  }
  .orderSummary {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 0;
    width: 100%;
    background: #fff;
    margin-bottom: 2rem;
  }
  .oneSection {
    width: 100%;
  }
  .cartHead {
    padding: 0.9rem 1.25rem;
  }
  .cartHead h2 {
    font-weight: 600;
    font-size: 17px;
  }
  .cartHead svg {
    width: 30px;
    height: 30px;
  }
  .cartBody {
    padding: 0.9rem 1.25rem;
  }
  .quandity div i {
    font-size: x-small;
  }
  .productDetails h2 {
    font-size: 15px;
  }
  .price p:nth-child(1) {
    font-size: 15px;
  }
  .price p:nth-child(2) {
    font-size: 0.6rem;
  }
  .price p:nth-child(3) {
    font-size: 0.7rem;
  }
}
@media (max-width: 861px) {
  .navigationnavbar {
    display: none;
  }
  .mobilenavigation {
    display: block;
  }
  .mobilenavigationList {
    display: block;
  }
  .logo.active a {
    margin-left: 50px;
  }
}
@media (max-width: 654px) {
    .cardOptions{
        border-radius: 9px;
        width: 7rem;
        border: 1px solid #e0e0e0;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    .cardOptions svg{
        width: 32px;
        height: 32px;
        margin-bottom: 0.2rem;
    }
    .cardOptions p{
        color: #000;
        font-family:"Open Sans",sans-serif;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
@media (max-width: 600px) {
  .loginbox {
    width: 21rem;
  }
  .loginBtn {
    width: 100px;
    height: 42px;
  }
  .inputForm input {
    font-size: small;
  }
  .useroptions ul li:nth-child(2) {
    display: none;
  }
  .error p {
    margin-top: 10px;
    color: red;
    font-size: 0.75rem;
    font-weight: bold;
  }
  .inputForm a {
    color: rgba(0, 0, 255, 0.75);
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration-line: underline;
  }
  .registerText a {
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: underline;
  }
}
@media (max-width: 585px) {
    .cardOptions{
        border-radius: 9px;
        width: 6rem;
        border: 1px solid #e0e0e0;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    .cardOptions svg{
        width: 32px;
        height: 32px;
        margin-bottom: 0.2rem;
    }
    .cardOptions p{
        color: #000;
        font-family:"Open Sans",sans-serif;
        font-size: 0.65rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
@media (max-width: 481px) {
  .orderHeading {
    padding: 0.65rem;
  }
  .orderHeading h2 {
    font-size: 15px;
  }
  .orderContent {
    padding: 0.65rem;
  }
  .orderContent div {
    margin-bottom: 17px;
  }
  .tPrice {
    padding: 0.65rem;
  }
  .ship p:nth-child(2) {
    font-size: 0.8rem;
  }
  .checkOut button {
    width: 7rem;
    border: transparent;
    outline: transparent;
    color: #000;
    font-family:"Open Sans",sans-serif;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.175rem;
    text-transform: uppercase;
    background-color: #0f0;
    padding: 0.6rem;
  }
}
@media (min-width: 1537px) {
  .catgoryDiv {
    height: 4em;
  }
}
/*---------- end of media query ----------*/
</style>
</header>
<main>
    <div class="container-fluid main">
      <div class="row justify-content-center">
        <div class="col-6 mainContainer" style="margin-top: 160px;">
          <div class="cartHead">
            <div class="d-flex align-items-center gap-2">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M24 24C21.8 24 19.9167 23.2167 18.35 21.65C16.7833 20.0833 16 18.2 16 16C16 13.8 16.7833 11.9167 18.35 10.35C19.9167 8.78333 21.8 8 24 8C26.2 8 28.0833 8.78333 29.65 10.35C31.2167 11.9167 32 13.8 32 16C32 18.2 31.2167 20.0833 29.65 21.65C28.0833 23.2167 26.2 24 24 24ZM8 40V34.4C8 33.2667 8.29167 32.225 8.875 31.275C9.45833 30.325 10.2333 29.6 11.2 29.1C13.2667 28.0667 15.3667 27.2917 17.5 26.775C19.6333 26.2583 21.8 26 24 26C26.2 26 28.3667 26.2583 30.5 26.775C32.6333 27.2917 34.7333 28.0667 36.8 29.1C37.7667 29.6 38.5417 30.325 39.125 31.275C39.7083 32.225 40 33.2667 40 34.4V40H8ZM12 36H36V34.4C36 34.0333 35.9083 33.7 35.725 33.4C35.5417 33.1 35.3 32.8667 35 32.7C33.2 31.8 31.3833 31.125 29.55 30.675C27.7167 30.225 25.8667 30 24 30C22.1333 30 20.2833 30.225 18.45 30.675C16.6167 31.125 14.8 31.8 13 32.7C12.7 32.8667 12.4583 33.1 12.275 33.4C12.0917 33.7 12 34.0333 12 34.4V36ZM24 20C25.1 20 26.0417 19.6083 26.825 18.825C27.6083 18.0417 28 17.1 28 16C28 14.9 27.6083 13.9583 26.825 13.175C26.0417 12.3917 25.1 12 24 12C22.9 12 21.9583 12.3917 21.175 13.175C20.3917 13.9583 20 14.9 20 16C20 17.1 20.3917 18.0417 21.175 18.825C21.9583 19.6083 22.9 20 24 20Z" fill="black"/>
                </svg>                  
              <h2 class="m-0 p-0 text-capitalize">Hey <%= user.username %>, </h2>
            </div>
          </div>
          <div class="cartBody d-flex">
            <div class="col-6 oneSection lSide">
              <div class="pInfo">
                <h2>Personal Information</h2>
                <p>Name: <span class="text-capitalize"><%= user.username %></span></p>
                <p>Email : <span><%= user.email %></span></p>
                <p>Phone : <span class=""><%= user.phone %></span></p>
                <p>Address : <span class="">Abc house, abc street,PIN: 67348</span></p>
              </div>
              <!-- <form action="/userLogout" method="post" class="logOutBtn">
                <button type="submit">Logout</button> -->
              </a>
            </div>
            <div class="col-6 oneSection">
              <div class="orderSummary mb-0">
                <div class="d-flex justify-content-center gap-4">
                  <div>
                    <a href="/orders">
                      <div class="cardOptions text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 76" fill="none">
                          <path d="M52.2183 72.0417H23.75C18.3033 72.0417 14.2184 70.585 11.685 67.7033C9.15171 64.8217 8.17002 60.6417 8.83502 55.2267L11.685 31.4767C12.5084 24.4783 14.2817 18.2083 26.6317 18.2083H49.4316C61.7499 18.2083 63.5233 24.4783 64.3783 31.4767L67.2283 55.2267C67.8616 60.6417 66.9116 64.8533 64.3783 67.7033C61.7499 70.585 57.6966 72.0417 52.2183 72.0417ZM26.6 22.9583C17.48 22.9583 17.0367 26.5683 16.3717 32.015L13.5217 55.765C13.0467 59.7867 13.6167 62.7317 15.2317 64.5367C16.8467 66.3417 19.6967 67.26 23.75 67.26H52.2183C56.2716 67.26 59.1216 66.3417 60.7366 64.5367C62.3516 62.7317 62.9216 59.7867 62.4466 55.765L59.5966 32.015C58.9316 26.5366 58.5199 22.9583 49.3683 22.9583H26.6Z" fill="black"/>
                          <path d="M50.6673 27.7083C49.369 27.7083 48.2923 26.6317 48.2923 25.3333V14.25C48.2923 10.83 46.1707 8.70833 42.7507 8.70833H33.2507C29.8307 8.70833 27.709 10.83 27.709 14.25V25.3333C27.709 26.6317 26.6323 27.7083 25.334 27.7083C24.0357 27.7083 22.959 26.6317 22.959 25.3333V14.25C22.959 8.20166 27.2023 3.95833 33.2507 3.95833H42.7507C48.799 3.95833 53.0423 8.20166 53.0423 14.25V25.3333C53.0423 26.6317 51.9657 27.7083 50.6673 27.7083Z" fill="black"/>
                          <path d="M64.6323 56.3033H25.334C24.0357 56.3033 22.959 55.2267 22.959 53.9283C22.959 52.63 24.0357 51.5533 25.334 51.5533H64.6323C65.9306 51.5533 67.0073 52.63 67.0073 53.9283C67.0073 55.2267 65.9306 56.3033 64.6323 56.3033Z" fill="black"/>
                        </svg>
                        <p>My Orders</p>
                      </div>
                    </a>
                  </div>
                  <div>
                    <a href="/wishlist">
                      <div class="cardOptions text-center">
                        <svg viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M28.666 63.2311L28.3486 62.8892L6.10645 38.7044C2.20898 34.468 0 28.5221 0 22.2938V21.8033C0 11.3385 6.34766 2.36026 15.1328 0.398126C20.1348 -0.73159 25.251 0.621095 29.3262 3.98051C30.4688 4.93185 31.5352 6.03184 32.5 7.29533C33.0332 6.58183 33.6045 5.92778 34.2139 5.31833C34.6836 4.84266 35.166 4.39672 35.6738 3.98051C39.749 0.621095 44.8652 -0.731589 49.8672 0.383261C58.6523 2.3454 65 11.3385 65 21.8033V22.2938C65 28.5221 62.791 34.468 58.8936 38.7044L36.6514 62.8892L36.334 63.2311C35.293 64.3608 33.9219 65 32.5 65C31.0781 65 29.707 64.3757 28.666 63.2311ZM30.3545 15.1885C30.3037 15.1439 30.2656 15.0844 30.2275 15.025L27.9678 12.052L27.9551 12.0372C25.0225 8.18722 20.5918 6.43318 16.2754 7.39939C10.3594 8.72234 6.09375 14.7574 6.09375 21.8033V22.2938C6.09375 26.5302 7.60449 30.5883 10.2578 33.472L32.5 57.6569L54.7422 33.472C57.3955 30.5883 58.9062 26.5302 58.9062 22.2938V21.8033C58.9062 14.7723 54.6406 8.72234 48.7373 7.39939C44.4209 6.43318 39.9775 8.20208 37.0576 12.0372C37.0576 12.0372 37.0576 12.0372 37.0449 12.052C37.0322 12.0669 37.0449 12.052 37.0322 12.0669L34.7725 15.0398C34.7344 15.0993 34.6836 15.1439 34.6455 15.2033C34.0742 15.8723 33.2998 16.2439 32.5 16.2439C31.7002 16.2439 30.9258 15.8723 30.3545 15.2033V15.1885Z" fill="black"/>
                          </svg>                            
                        <p>Wishlist</p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="d-flex justify-content-center gap-4">
                  <div>
                    <a href="/addaddress">
                      <div class="cardOptions text-center m-0">
                        <svg viewBox="0 0 69 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_395_60)">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M55.0401 52.279C63.5259 54.6811 68.9764 58.5193 68.9764 62.847C68.9764 70.1122 53.5388 76 34.4915 76C15.4441 76 0 70.1122 0 62.847C0 58.4148 5.7377 54.4983 14.5368 52.1158L15.5029 53.4213C16.1556 54.3156 16.8932 55.2033 17.6308 56.0715C11.4754 57.5597 7.53277 59.8574 7.53277 62.4358C7.53277 66.9267 19.4716 70.5691 34.2042 70.5691C48.9369 70.5691 60.8757 66.9267 60.8757 62.4358C60.8757 60.0402 57.4553 57.8665 52.0244 56.3913C53.0949 55.0858 54.1001 53.6889 55.0401 52.279Z" fill="black"/>
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M45.8175 54.0349C42.9344 57.2115 39.6133 59.9611 35.9544 62.2008C35.7259 62.3684 35.4518 62.4626 35.1684 62.4708C34.8851 62.4789 34.606 62.4007 34.3682 62.2465C29.1499 58.9551 24.5171 54.8165 20.6604 50.0009C15.6669 43.7344 12.488 36.7761 11.4109 30.0723C10.3339 23.3685 11.3391 16.7431 14.7204 11.4297C16.0944 9.2679 17.8222 7.35256 19.8314 5.76381C24.5965 1.95826 30.0274 -0.0391647 35.4714 5.10248e-07C39.265 0.104301 42.9723 1.15493 46.2566 3.05641C49.5409 4.95789 52.2979 7.64994 54.2772 10.8879C57.913 16.8737 58.6963 24.5109 57.1036 32.246C55.3363 40.374 51.4414 47.8867 45.8175 54.0153V54.0349ZM34.44 12.0825C36.7487 12.0825 39.0054 12.7671 40.9249 14.0499C42.8444 15.3326 44.3403 17.1558 45.2235 19.2888C46.1066 21.4218 46.3374 23.7688 45.8865 26.033C45.4356 28.2972 44.3234 30.3768 42.6905 32.0088C41.0576 33.6408 38.9774 34.7518 36.713 35.2014C34.4485 35.651 32.1016 35.419 29.9691 34.5346C27.8366 33.6502 26.0143 32.1533 24.7326 30.2331C23.4509 28.3129 22.7675 26.0558 22.7688 23.7471C22.7688 22.2148 23.0707 20.6974 23.6574 19.2818C24.244 17.8661 25.1038 16.5799 26.1876 15.4967C27.2715 14.4134 28.5582 13.5543 29.9741 12.9685C31.3901 12.3827 32.9077 12.0816 34.44 12.0825Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_395_60">
                          <rect width="68.9764" height="76" fill="white"/>
                          </clipPath>
                          </defs>
                          </svg>                            
                        <p>Add Address</p>
                      </div>
                    </a>
                  </div>
                  <div>
                    <a href="/wallet">
                      <div class="cardOptions text-center m-0">
                        <div >
                        <svg fill="#000000" height="200px" width="200px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 458.531 458.531" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g id="XMLID_830_"> <g> <g> <path d="M336.688,343.962L336.688,343.962c-21.972-0.001-39.848-17.876-39.848-39.848v-66.176 c0-21.972,17.876-39.847,39.848-39.847h103.83c0.629,0,1.254,0.019,1.876,0.047v-65.922c0-16.969-13.756-30.725-30.725-30.725 H30.726C13.756,101.49,0,115.246,0,132.215v277.621c0,16.969,13.756,30.726,30.726,30.726h380.943 c16.969,0,30.725-13.756,30.725-30.726v-65.922c-0.622,0.029-1.247,0.048-1.876,0.048H336.688z"></path> <path d="M440.518,219.925h-103.83c-9.948,0-18.013,8.065-18.013,18.013v66.176c0,9.948,8.065,18.013,18.013,18.013h103.83 c9.948,0,18.013-8.064,18.013-18.013v-66.176C458.531,227.989,450.466,219.925,440.518,219.925z M372.466,297.024 c-14.359,0-25.999-11.64-25.999-25.999s11.64-25.999,25.999-25.999c14.359,0,25.999,11.64,25.999,25.999 C398.465,285.384,386.825,297.024,372.466,297.024z"></path> <path d="M358.169,45.209c-6.874-20.806-29.313-32.1-50.118-25.226L151.958,71.552h214.914L358.169,45.209z"></path> </g> </g> </g> </g></svg>
                      </div>
                        <p>Wallet</p>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
    const hamburgerBtn = document.querySelector(".hamburger");
const mobilenavigationList = document.querySelector(".mobilenavigationList");
const mobilenavigation = document.querySelector(".mobilenavigation");
const logo = document.querySelector(".logo");

hamburgerBtn.addEventListener("click", () => {
  hamburgerBtn.classList.toggle("active");
  mobilenavigationList.classList.toggle("active");
  mobilenavigation.classList.toggle("active");
  logo.classList.toggle("active");
});
</script>

  <%- include('include/_footer') %>
